.roboto-condensed-nnx> {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.orbitron-nnx> {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
	background-color: #2e2d2c;
    background-image: url('../images/bg_01.png');
}

div {
	font-family: "Roboto Condensed", sans-serif;
	color: #f7f7f7;
    font-size: 18px;
	line-height: 1.4;
    margin-left: 10px;
}

h1 {
    font-family: "Orbitron", sans-serif;
    font-size: 28px;
    font-style: italic;
    color: #ffffff;
    margin-left: 1px;
}

strong {
	color: orange;
    margin-left: 15px;
}

label {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 20px;
    font-weight: 400;
	color: #00ffff;
    margin-left: 20px;
	margin-right: 8px;
}
/* first style */
.car-model {
  font-size: 24px;
  margin-left: 15px;
}

.title {
	font-family: "Orbitron", sans-serif;
	font-size: 24px;
	font-weight: 900;
    font-style: italic;
	color: #018080;
	text-transform: uppercase;
	letter-spacing: 1px;
    line-height: 0.1;
}