body {
	margin: 0;
	background-image: url('../images/bg_tetris_darker.png');
}

// uniquifier: Use a unique and descriptive class name
// weight: Use a value from 100 to 900

.roboto-condensed-navigation {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 2;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-navigation {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
}

.gameTitle {
	font-family: "Press Start 2P", serif;
	font-size: 24px;
	color: #FFCE10;
	text-shadow: 1px 1px DarkRed;
	padding: 20px;
}

.Image_IconButton {
	vertical-align:middle;
	margin:0px 0px 0px 20px;
	width: 30px;
	height: 30px;
}

.button {
	background-color: #1a5089;
	border: 3px solid CornflowerBlue;
	border-radius: 8px;
	color: white;
	padding: 6px 24px 6px 24px;
	font-family: "Open Sans", serif;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 24px;
	margin: 24px;
	cursor: pointer;
	transition-duration: 0.15s;
	box-shadow: 0 5px #333333;
}
.button:hover {
	background-color: #497AAF;
	border: 3px solid Beige;
	box-shadow: 0 5px #555555;
}

.button:active {
  box-shadow: 0 0px #555555;
  transform: translateY(4px);
}

ul.topnav {
  font-family: "Open Sans", serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1A5089;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #497AAF;}

ul.topnav li a.active {
	background-color: #FFCE10;
	color: black;
}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

.image-nav {
    padding: 50px 0;
}

.image-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.image-nav ul li {
    margin: 0 15px;
}

.image-nav ul li a {
    width: 66%;
    height: 66%;
}

.image-nav ul li a img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.image-nav img {
	filter: brightness(0.7);
	transition: filter 0.3s ease;
}

.image-nav ul li a:hover img {
	filter: brightness(1.2);
    transform: scale(1.2);
}
