h1 {
	color: brown;
	font-size: 48px;
}

p {
	color: black;
	font-size: 36px;
}

body {
	background-color: beige;
	margin: 5%;
}

#word-container {
	cursor: pointer;
	color: darkred;
	border-bottom: 3px dotted red;
}
#word-selection {
	display: none;
}

.options {
	list-style-type: none;
	padding-left: 0;  /* Remove default padding */
	margin-left: 0;   /* Remove default margin */
	position: absolute;  /* Position it absolutely */
	border: 2px solid grey; /* outline */
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);	
}
.options li {
	cursor: pointer; /* Show hand cursor on hover */
	color: teal;
	background-color: #f0f0f0;
	font-size: 36px;
	border: 1px solid lightgrey; /* outline */ 
	padding: 10px;
}

.options li:hover {
	color: white;
	background-color: #666666;
}