body {
	background-image: url("images/bg_tetris_darker.png");
}
.button {
	background-color: #1a5089;
	border: 4px solid CornflowerBlue;
	border-radius: 12px;
	color: white;
	padding: 12px 48px 12px 48px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 48px;
	margin: 30px;
	cursor: pointer;
	transition-duration: 0.15s;
}
.button:hover {
	background-color: #FFCE10;
	color: #D2691E;
	border: 4px solid Beige;
}