:root {
	--color-page: #000;
	--color-text: #cdcdcd;
	--color-title: #fff;
	--color-keyword: #fff;
	--color-keyword_bg: #242424;
	--color-keyword_hover: #363636;
	--color-options_txt: #b82020;
    --color-options_bg: #fff;
    --color-options_txt_hover: #fff;
    --color-options_bg_hover: #222222;
    --color-options_border: #b82020;
}
body {
	background-color: var(--color-page);
}
#storyTitle {
	font-family: "Cinzel Decorative", serif;
	font-size: 30px;
	color: var(--color-title);
}
p {
	font-family: "Libre Baskerville", serif;
	font-size: 26px;
	color: var(--color-text);
	line-height: 1.6;
}
.keyword {
	color: var(--color-keyword);
	border-bottom: 5px solid var(--color-options_txt); /* underline */
	background-color: var(--color-keyword_bg);
}
.keyword:hover {
	background-color: var(--color-keyword_hover);
}
.options {
	border: 2px solid var(--color-options_border); /* outline */
}
.options li {
	color: var(--color-options_txt);
	background-color: var(--color-options_bg);
	font-family: "Libre Baskerville", serif;
	font-size: 26px;
	border: 1px solid var(--color-options_border); /* outline */
}
.options li:hover {
	color: var(--color-options_txt_hover);
	background-color: var(--color-options_bg_hover);
}