:root {
	--color-green: #04AA6D;
	--color-red: #850e0e;  /* A muted red */
	--hover-color: yellow;
}
.lacquer-regular {
	font-family: "Lacquer", serif;
	font-weight: 400;
	font-style: normal;
}
body {
	background-color: #ddd;
	background-image: url('../images/02/background.jpg');
}
#storyTitle {
	font-family: "Lacquer", serif;
	font-size: 32px;
	color: var(--color-red);
}
p {
	font-family: "Lacquer", serif;
	font-size: 26px;
	color: #333;
	line-height: 1.6;
}
.keyword {
	color: #222;
	border-bottom: 5px solid var(--color-red); /* underline */
	background-color: white;
}
.keyword:hover {
	background-color: var(--color-red);
}
.options {
	border: 2px solid grey; /* outline */
}
.options li {
	color: var(--color-red);
	background-color: #ffffff;
	font-family: "Libre Baskerville", serif;
	font-size: 26px;
	border: 1px solid lightgrey; /* outline */
}
.options li:hover {
	color: white;
	background-color: #222;
}