:root {
	--accent-color: #dd3333; /* A muted red */
	--hover-color: yellow; /* Orange */
}
.libre-baskerville-regular {
	font-family: "Libre Baskerville", serif;
	font-weight: 400;
	font-style: normal;
}
.libre-baskerville-bold {
	font-family: "Libre Baskerville", serif;
	font-weight: 700;
	font-style: normal;
}
.libre-baskerville-regular-italic {
	font-family: "Libre Baskerville", serif;
	font-weight: 400;
	font-style: italic;
}
.cinzel-decorative-regular {
	font-family: "Cinzel Decorative", serif;
	font-weight: 400;
	font-style: normal;
}
.cinzel-decorative-bold {
	font-family: "Cinzel Decorative", serif;
	font-weight: 700;
	font-style: normal;
}
.cinzel-decorative-black {
	font-family: "Cinzel Decorative", serif;
	font-weight: 900;
	font-style: normal;
}
html {
	scroll-behavior: smooth;
}

body {
	background-color: #dddddd;
	background-image: url('../images/02/background.png');
	margin-top: 5%;
	margin-bottom: 15%;
	margin-right: 5%;
	margin-left: 5%;
	height: 100%;
}

#chapterTitle {
	font-family: "Cinzel Decorative", serif;
	font-size: 20px;
	text-align: center;
	color: lightgreen;
}
p {
	font-family: "Libre Baskerville", serif;
	font-size: 26px;
	color: white;
	text-shadow: 1px 1px 3px rgba(8, 67, 100, 1);
	line-height: 1.6;
}
img {
	display: block;     /* Removes any space below the image */
	margin: 0 auto; 	/* Horizontally center the image inside the container */
}
#debug {
	font-size: 13px;
	color: white;
	background-color: var(--accent-color);
	line-height: 2;
}

#debug:hover {
	background-color: #850e0e;
}

#text-container {
	cursor: default;
}
#game-over {
	font-weight: bold;
}
.keyword {
	cursor: pointer;
	color: #090909;
	border-bottom: 4px solid var(--accent-color);
	position: relative;
	transition: background .5s;
	background-color: white;
	/* filter: blur(2px); */
}

.keyword:hover {
	background-color: var(--hover-color);
}

.keyword-off {
	position: relative;
	font-weight: bold;
}
.options {
	list-style-type: none;
	padding-left: 0; /* Remove default padding */
	margin-left: 0; /* Remove default margin */
	position: absolute; /* Position it absolutely */
	top: -30px; /* Move up by 10 pixels */
	border: 2px solid grey; /* outline */
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
	.options li {
		cursor: pointer; /* Show hand cursor on hover */
		color: var(--accent-color);
		background-color: #ffffff;
		font-family: "Libre Baskerville", serif;
		font-size: 26px;
		/*font-weight: bold;*/
		border: 1px solid lightgrey; /* outline */
		padding: 10px;
	}
.options li:hover {
	color: white;
	background-color: #222222;
}
