.roboto-condensed-nnx> {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.orbitron-nnx> {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
	background-color: #2e2d2c;
}

div {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 18px;
	color: #f7f7f7;
	line-height: 1.4;
    margin-left: 10px;
}

h1 {
    font-family: "Orbitron", sans-serif;
    font-size: 26px;
    color: #ffffff;
    margin-left: 1px;
}

strong {
	color: orange;
}

label {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 18px;
	color: #47ffa9;
    margin-left: 20px;
	margin-right: 8px;
}