.roboto-condensed-nnx> {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

body {
	background-color: #2e2d2c;
}

div {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 18px;
	color: #ebebeb;
	line-height: 1.4;
    margin-left: 10px;
}

h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 32px;
    color: #4d5752;
    margin-left: 10px;
}

strong {
	color: orange;
}

label {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 18px;
	color: #47ffa9;
    margin-left: 10px;
	margin-right: 8px;
}