:root {
	--color-green: #04AA6D;
	--color-red: #dd3333; /* A muted red */
	--hover-color: yellow; /* Orange */
}
.libre-baskerville-regular {
	font-family: "Libre Baskerville", serif;
	font-weight: 400;
	font-style: normal;
}
.libre-baskerville-bold {
	font-family: "Libre Baskerville", serif;
	font-weight: 700;
	font-style: normal;
}
.libre-baskerville-regular-italic {
	font-family: "Libre Baskerville", serif;
	font-weight: 400;
	font-style: italic;
}
.cinzel-decorative-regular {
	font-family: "Cinzel Decorative", serif;
	font-weight: 400;
	font-style: normal;
}
.cinzel-decorative-bold {
	font-family: "Cinzel Decorative", serif;
	font-weight: 700;
	font-style: normal;
}
.cinzel-decorative-black {
	font-family: "Cinzel Decorative", serif;
	font-weight: 900;
	font-style: normal;
}
html {
	scroll-behavior: smooth;
}
body {
	background-color: #dddddd;
	margin-top: 0;
	margin-bottom: 15%;
	margin-right: 0;
	margin-left: 0;
	height: 100%;
}
#content {
	margin-right: 5%;
	margin-left: 5%;
}
#chapterTitle {
	font-family: "Libre Baskerville", serif;
	font-size: 24px;
	text-align: center;
	color: white;
}
p {
	font-family: "Libre Baskerville", serif;
	font-size: 26px;
	color: #222222;
	line-height: 1.6;
}
img {
	display: block;     /* Removes any space below the image */
	margin: 0 auto; 	/* Horizontally center the image inside the container */
}
#debug {
	font-size: 13px;
	color: white;
	background-color: var(--color-red);
	line-height: 2;
}

#debug:hover {
	background-color: #850e0e;
}

#text-placeholder {
	cursor: default;
}
#game-over {
	font-weight: bold;
}
.keyword {
	cursor: pointer;
	color: #090909;
	border-bottom: 5px solid var(--color-red);
	position: relative;
	transition: background .5s;
	background-color: white;
	/* filter: blur(2px); */
}

	.keyword:hover {
		background-color: var(--color-red);
	}

.keyword-off {
	position: relative;
	font-weight: bold;
}

#highlight_word {
	display: inline-block;
	border-radius: 6px;
	border: 1px solid #444;
	text-align: center;
	background-color: lightyellow;
	color: var(--color-red);
	font-size: 18px;
	padding: 16px;
}
.options {
	list-style-type: none;
	padding-left: 0; /* Remove default padding */
	margin-left: 0; /* Remove default margin */
	position: absolute; /* Position it absolutely */
	top: -30px; /* Move up by 10 pixels */
	border: 2px solid grey; /* outline */
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
	.options li {
		cursor: pointer; /* Show hand cursor on hover */
		color: var(--color-red);
		background-color: #ffffff;
		font-family: "Libre Baskerville", serif;
		font-size: 26px;
		/*font-weight: bold;*/
		border: 1px solid lightgrey; /* outline */
		padding: 10px;
	}
.options li:hover {
	color: white;
	background-color: #222222;
}