.special-elite-regular {
	font-family: "Special Elite", serif;
	font-weight: 400;
	font-style: normal;
}
.libre-baskerville-regular {
	font-family: "Libre Baskerville", serif;
	font-weight: 400;
	font-style: normal;
}
.libre-baskerville-bold {
	font-family: "Libre Baskerville", serif;
	font-weight: 700;
	font-style: normal;
}
.libre-baskerville-regular-italic {
	font-family: "Libre Baskerville", serif;
	font-weight: 400;
	font-style: italic;
}
.cinzel-decorative-regular {
	font-family: "Cinzel Decorative", serif;
	font-weight: 400;
	font-style: normal;
}
.cinzel-decorative-bold {
	font-family: "Cinzel Decorative", serif;
	font-weight: 700;
	font-style: normal;
}
.cinzel-decorative-black {
	font-family: "Cinzel Decorative", serif;
	font-weight: 900;
	font-style: normal;
}
#chapterTitle {
	font-family: "Cinzel Decorative", serif;
	font-size: 38px;
	color: #777777;
}
p {
    font-family: "Libre Baskerville", serif;
    font-size: 26px;
    color: #222222;
    line-height: 1.6;
}
#text-placeholder {
	cursor: default;
}
#game-over {
	font-weight: bold;
}
body {
	background-color: #dddddd;
	margin: 5%;
}
.keyword {
	cursor: pointer;
	color: #090909;
	border-bottom: 4px solid #ff0000;
	position: relative;
	background-color: white;
	/* filter: blur(2px); */
}
.keyword-off {
	position: relative;
	font-weight: bold;
}

.options {
	list-style-type: none;
	padding-left: 0; /* Remove default padding */
	margin-left: 0; /* Remove default margin */
	position: absolute; /* Position it absolutely */
	top: -30px; /* Move up by 10 pixels */
	border: 2px solid grey; /* outline */
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
.options li {
	cursor: pointer; /* Show hand cursor on hover */
	color: teal;
	background-color: #ffffff;
	font-family: "Libre Baskerville", serif;
	font-size: 28px;
	border: 1px solid lightgrey; /* outline */
	padding: 10px;
}
.options li:hover {
	color: white;
	background-color: #666666;
}